doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery-latest.min.js')
  body
    if session.userName
      input(type='button' id='logOutButton' value='logOut')
      input(type="button" id='boardButton' value='board')
    else
      input(type='textbox' id='inputId')
      input(type='password' id='inputPasswd')
      input(type='button' id='loginButton' value='login')

    script(src='/javascripts/loginAjax.js')
    block content

